

#logo {
  font-size: xx-large;
  margin-left: 10px;
}

#login-reg {
  margin-right: 10px;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-size: x-large;
}

.nav-bar {
  border: 3px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
