

#logo {
  font-size: xx-large;
  margin-left: 10px;
}

#login-reg {
  margin-right: 10px;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-size: x-large;
}

.nav-bar {
  border: 3px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-listing-form {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin: 1%;
  padding: 3%;
}

.new-listing-form input {
  width: 60%;
  height: 30px;
  margin: 5px;
}


.new-listing-form textarea {
  width: 60%;
  height: 80px;
}

.logout-link {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-size: x-large;
}

