

#logo {
  font-size: xx-large;
  margin-left: 10px;
}

#login-reg {
  margin-right: 10px;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-size: x-large;
}

.nav-bar {
  border: 3px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-listing-form {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin: 1%;
  padding: 3%;
}

.new-listing-form input {
  width: 60%;
  height: 30px;
  margin: 5px;
}


.new-listing-form textarea {
  width: 60%;
  height: 80px;
}

.logout-link {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-size: x-large;
}

.login-container, .register-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

.login-form, .login-header, .login-footer, .register-form, .register-header {
  text-align: left; 
}

.login-form, .register-form {
  text-align: center;
  align-items: center;
}

.login-form input, .register-form input {
  margin-bottom: 10px;
  width: 300px;
  height: 30px;
}

.login-footer, .register-form {
  display: flex;
  flex-direction: column;
}

.listings-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.listing-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 80%;
  height: 100%;
}

.listings-main{
  flex: 1 1 45%;
  max-width: 500px;
  border: 2px solid black;
  border-radius: 10px;
  margin: 3%;
}

.listings-np-container{
  display: flex;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
}

.listings-name{

}

.listings-price{
  margin-left: 40%;
}

.listings-description{
  text-align: center;
}

.listings-image{
  width: 500px;
  height: auto;
  object-fit: cover;
}

.new-link-button{
  text-align: center;
}

.new-link-button button{
  width: 15%;
  font-size: larger;
  margin: 2%;
}


.listing-container{
  position: relative;
  display: flex;
  max-width: 80%;
  margin: 3% auto 0 auto;
  border: 2px solid black;
  border-radius: 20px;
  overflow: hidden;
}

.listing-np-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details-section,
.image-section {
  flex: 0 0 50%;
  height: 100%;
}

.listing-name,
.listing-price {
  font-size: clamp(1rem, 2vw, 1.5rem);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.image-section{
  display: flex;
  align-items: center;
  justify-content: center;
}

.details-section{
  display: flex;
  flex-direction: column;
  padding: 1%;
  box-sizing: border-box;
}

.listing-image{
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 12px;
}

.listing-name{}

.listing-price{}

.listing-description {
  flex: 1;
  overflow: hidden;
  text-align: left;
}

.bid-button{
  position: absolute;
  bottom: 0;
  margin: 1%;
  right: 0;
}